.btn-main {
    background: $primary;
    border-radius: 4px;
    padding: 10px 20px; 
    border: 1px solid $primary;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:focus,
      &:hover,
      &:active {
            color: #ffffff;
            background: darken($primary, 15%);
            text-decoration: none;
            cursor: pointer;
            outline: none;
            box-shadow: none;
      }
}


.btn-white {
      background: $white;
      border-radius: 4px;
      padding: 10px 20px; 
      border: 1px solid $primary;
      color: $primary;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
        &:focus,
        &:hover,
        &:active {
              color: $primary;
              background: darken($white, 15%);
              text-decoration: none;
              cursor: pointer;
              outline: none;
              box-shadow: none;
        }
  }
  
.btn-green-outline {
      background: none;
    border-radius: 4px;
    padding: 10px 20px; 
    border: 1px solid $primary;
    color: $primary;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

      &:focus,
      &:hover,
      &:active {
            color: #ffffff;
            background: $primary;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            box-shadow: none;
      }
}