
/*** home hero keeping hero for heros**/
.hero-one {
    background: url(../img/hero-one.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .hero-one {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.art-hero {
    background: url(../img/art-hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;
}

@media only screen and (max-width: 991px) {
    .blog-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.blog-hero {
    background: url(../img/blog-hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;
}

@media only screen and (max-width: 991px) {
    .blog-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.company-hero {
    background: url(../img/company-hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;
}

@media only screen and (max-width: 991px) {
    .company-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

/** used for regular sized containers ***/
.section {
    padding: 60px 
}

@media only screen and (max-width: 991px) {
    .section {
    padding: 30px 
    }
}


/*** hero bottom ***/
.hero-bottom-img {
    margin-top: -200px;
    width: 100%;
}

img.section-two-right-img {
    margin-left: 17px;
}

.blog-bottom-img {
    margin-top: -200px;
    width: 100%;
}





img.home-mid-img {
    margin-top: -80px;
    margin-left: -7px;
}

img.mid-section-bottom-img {
    margin-bottom: -240px;
}

img.comp-section-bottom-img {
    margin-bottom: -240px;
}

@media only screen and (max-width: 991px) {
    img.mid-section-bottom-img {
        margin-bottom: -100px;
    }
}

/*** home hero keeping hero for heros**/
.home-blog-section {
    background: url(../img/blog-home-section.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    height: 1000px;
}

@media only screen and (max-width: 991px) {
    .home-blog-section{
    height: 1900px;
    padding: 200px 30px 100px 30px;
    }
}

/*** home page blog ***/
.card {
    border: none;
    color: $black;
    -webkit-box-shadow: 0px 4px 23px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 4px 23px 0px rgba(204,204,204,1);
    box-shadow: 0px 4px 23px 0px rgba(204,204,204,1);
}

.home-blog-card {
    min-height: 430px;
}

.card-text {
    color: $grey;
    font-size: 14px;
}

img.btm-left-white {
    margin-top: -300px;
    margin-bottom: 100px;
}

img.btm-jon-home {
    max-width: none;
    height: 800px;
    margin-top: -113px;
}

@media only screen and (max-width: 991px) {
    img.btm-jon-home {
        max-width: none;
        height: 500px;
        margin-top: 0px;
    }
}


/*** footer ***/ 

footer {
    background: $dark-grey;
    padding: 50px 30px 0px 30px;
    color: $grey;
    margin-bottom: -34px;
}

ul.inline {
    list-style: NONE;
}

.block {
    display: inline-flex;
    color: $grey;
}



/*** home hero keeping hero for heros**/
.hero-art {
    background: url(../img/art-hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .hero-art {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

/*** company page ***/

.neg-m-t-50 {
    margin-top: -50px;
}

.pull-hr-left {
        margin-left: -200px;
    width: 500px;
}

.pull-hr-right {
        margin-right: -200px;
    width: 500px;
}


.company-mid-hero {
    background: url(../img/company-mid.png) no-repeat center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    border-radius: 0px;
}

@media only screen and (max-width: 991px) {
    .company-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}


/*** Blog hero**/
.blog-symbol-hero {
    background: url(../img/blog/symbol.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .blog-aban-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.blog-jon-hero {
    background: url(../img/blog/jon.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .blog-jon-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.blog-aban-hero {
    background: url(../img/blog/aban.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .blog-aban-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}

.blog-borg-hero {
    background: url(../img/blog/borg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    padding: 250px 100px 400px 100px;
    color: $white;
    text-align: center;
    margin-top: -100px;

}

@media only screen and (max-width: 991px) {
    .blog-borg-hero {
    height: 700px;
    padding: 200px 30px 100px 30px;
    }
}